@page
@using RazorPagesMascotas.Models @*namespace*@
@model RazorPagesMascotas.Pages.MascotaModel
@{
    ViewData["Title"] = "Registro Propietario";
    ViewData["Title2"] = "Nombre de la Mascota";

}
<h1 class="title-mascotas">@ViewData["Title"]</h1>
<div class="top-form"></div>
<div class="form">
    <form method="post">
        <div class="row">
            <div class="bottom-form">
                <div class="hero-form">
                    <label asp-for="EntidadPropietario.Identificacion">Identificación:
                        <input asp-for="EntidadPropietario.Identificacion" placeholder="Nro Identificacion"></label>
                    <label asp-for="EntidadPropietario.Nombre">Nombre:
                        <input asp-for="EntidadPropietario.Nombre" placeholder="Escribe el nombre."></label>
                    <label asp-for="EntidadPropietario.Apellidos">Apellido:
                        <input placeholder="Escribe el apellido." asp-for="EntidadPropietario.Apellidos"></label>
                </div>
                <div class="hero-form">
                    <label asp-for="EntidadPropietario.Direccion">Dirección:
                        <input asp-for="EntidadPropietario.Direccion"></label>
                    <label asp-for="EntidadPropietario.Telefono">Teléfono:
                        <input asp-for="EntidadPropietario.Telefono"></label>
                </div>
            </div>

            <h1 class="title-mascotas">@ViewData["Title2"]</h1>
            <div class="col-md-4">
                <label asp-for="EntidadMascota.Nombre"></label>
                <input asp-for="EntidadMascota.Nombre" class="form-control" />
                <span class="alert-danger" asp-validation-for="EntidadMascota.Nombre"></span>
            </div>
        </div>
        <div>
            <div class="top-form">
            </div>
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </form>
</div>
<table class="table">
    <th>Lista de Registros</th>
    <tr>
        <td>Nombre Mascota</td>
        <td>Propietario: Identificacion</td>
        <td>Propietario-Nombre</td>
        <td>Propietario-Apellido</td>
        <td>Direccion</td>
        <td>Telefono</td>
        <td>Funcion</td>
        <td>Funcion</td>
    </tr>

    @foreach (var p in Model.Mascota)
    {
        var m = @Model.getUniqueMascota(p.MascotaId);
        <tr>
            <td>@m.Nombre</td>
            <td>@p.Identificacion</td>
            <td>@p.Nombre</td>
            <td>@p.Apellidos</td>
            <td>@p.Direccion</td>
            <td>@p.Telefono</td>
            <td><a class="btn btn-primary table-btn" asp-page="./Propietario" asp-route-propietarioId="@p.PropietarioId">
           <i class="fas fa-address-book fa-lg" aria-hidden="true"></i>Editar </a></td>
           <td><a class="btn btn-primary table-btn" asp-page="./Privacy" asp-route-propietarioId="@p.PropietarioId">
           <i class="fas fa-address-book fa-lg" aria-hidden="true"></i>Borrar </a></td>
        </tr>

    }


</table>
